@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* font-family: 'DM Serif Display', serif; */
    font-family: 'Jost', sans-serif;
    background-image: url(../images/line.bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 22px;
    line-height: 1.5;
    color: #4D5053;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
/* Block Header */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 45px;
}
.page {
    padding-top: 178px;
    padding-bottom: 178px;
}
.header_nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}
.header_item {
    margin-left: 48px;
}
.header_item:last-child {
    margin-left: 30px;
}
.header_link {
    color: #292F36;
    font-size: 20px;
    text-decoration: none;
    transition: .2s;
}
.header_link:hover {
    color: #CDA274;
}
.header_vector {
    padding: 0;
    background: transparent;
    border: none;
    display: flex;
    cursor: pointer;
}
/* First Page */
.hero {
    position: relative;
    overflow: hidden;
    border-radius: 0 0 0 30vh;
    height: calc(100vh - 164px);
    min-height: 400px;
    max-height: 1042px;
    display: flex;
    align-items: center;
    margin-bottom: 198px;
}
.hero > .container {
    flex-basis: 100%;
}
.hero_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.hero_title {
    font-family: 'DM Serif Display', sans-serif;
    font-weight: 400;
    font-size: 85px;
    line-height: 1.25;
    color: #292F36;
    margin-top: 0;
}
.hero_title,
.hero_text {
    max-width: 600px;
}
.title {
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    line-height: 1.25;
    font-weight: 400;
    color: #292F36;
    margin-top: 0;
}
.btn-primary {
    display: inline-block;
    padding: 26px 61px 26px 31px;
    background-color: #292F36;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    position: relative;
    transition: .2s;
}
.btn-primary::after {
    content: '';
    background-image: url(../images/arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 18px;
    position: absolute;
    right: 31px;
    top: calc(50% - 9px);
}
.btn-primary:hover {
    background-color: #CDA274;
}
.btn-primary:hover::after {
    background-image: url(../images/dark.arrow.svg);
}


.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}
.about_text {
    flex-grow: 1;
    flex-basis: calc(100% - 700px);
}
.about_thumb {
    position: relative;
    overflow: hidden;
    flex-basis: 700px;
    height: 653px;
    border-radius: 0 326px 0px 123px;
}
.about_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about-call {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 45px;
    margin-bottom: 47px;
}
.about-call_icon {
    background-color: #F4F0EC;
    width: 93px;
    height: 93px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-call_icon::after {
    content: '';
    background-image: url(../images/call.icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 32px;
    height: 32px;
}
.about-call_text > p {
    margin: 0;
}
.about-call_text > p:first-child {
    font-weight: 700;
    font-size: 24px;
}
/* Swiper */
.swiper-feedback {
    margin-top: 200px;
}
.swiper-feedback_slide {
    text-align: center;
    background-color: #F4F0EC;
    border-radius: 70px;
    padding: 88px 225px 182px;
    box-sizing: border-box;
}
.swiper-feedback_text {
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
    line-height: 1.25;
    font-style: italic;
    color: #292F36;
    margin-top: 90px;
    margin-bottom: 34px;
}
.swiper-feedback_text::before {
    content: '';
    background-image: url(../images/quotes.svg);
    display: block;
    width: 31px;
    height: 23px;
    margin: 0 auto 27px;
}
.swiper-feedback_author {
    font-size: 25px;
    text-transform: uppercase;
}
.swiper-feedback_next {
    right: 92px;
}
.swiper-feedback_prev {
    left: 92px;
}
.swiper-feedback_next,
.swiper-feedback_prev {
    background-color: #FFF;
    width: 52px;
    height: 52px;
    border-radius: 100%;
}
.swiper-feedback_next::after,
.swiper-feedback_prev::after {
    content: '';
    background-image: url(../images/nextarr.svg);
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    display: block;
    width: 8px;
    height: 16px;
}
.swiper-feedback_prev::after {
    transform: rotate(180deg);
}
.brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stat {
    padding-top: 151px;
    padding-bottom: 151px;
}
.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.stats_item {
    flex-basis: 25%;
    padding: 0 15px;
    position: relative;
}
.stats_item::after {
    content: '';
    display: block;
    width: 1px;
    height: 130px;
    background-color: #CDA274;
    position: absolute;
    right: 0;
    top: calc(50% - 65px);
}
.stats_item:last-child::after {
    display: none;
}
.stats_item p {
    margin-top: 0;
}
.stats_item span {
    display: block;
    font-family: 'DM Serif Display', serif;
    font-size: 85px;
    color: #CDA274;
}
.article_title,
.article_text {
    text-align: center;
}
.article_title {
    margin-bottom: 12px;
}
.article_text {
    max-width: 800px;
    margin: 0 auto;
}
.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
    margin-top: 52px;
}
.article-main {
    margin-bottom: 150px;
}
.articles_item,
.article-main_item {
    border: 1px solid #E7E7E7;
    border-radius: 62px;
    padding: 21px 21px 37px 21px;
    background-color: #FFF;
    transition: .4s;
}
.articles_item:hover,
.article-main_item:hover {
    background-color: #F4F0EC;
}
.article-main_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4vw;
}
.article-main_thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 478px;
    border-radius: 50px;
}
.article-main_content {
    padding: 0 34px 0 0;
}
.articles_thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 290px;
    border-radius: 45px 45px 0 0;
}
.articles_img,
.article-main_img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.articles_tag {
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    background: #FFFFFF;
    border-radius: 8px 8px 8px 0px;
}
.articles_title,
.article-main_title {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #292F36;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 260px;
}
.article-main_title {
    max-width: 100%;
}
.articles_title a,
.article-main_title a {
    color: inherit;
    text-decoration: none;
}
.articles_info,
.article-main_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles_date,
.article-main_date {
    font-size: 16px;
}
.articles_link,
.article-main_link {
    flex-basis: 52px;
    height: 52px;
    background-color: #F4F0EC;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.articles_link::after,
.article-main_link::after {
    content: '';
    background-image: url(../images/articles.arrow.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    width: 8px;
    height: 16px;
}
.articles_item:hover .articles_link,
.article-main_item:hover .article-main_link {
    background-color: #FFFFFF;
}
/* Block Forms */
.subscribe {
    background-color: #292F36;
    border-radius: 70px;
    text-align: center;
    color: #FFFFFF;
    padding: 80px;
}
.subscribe .title {
    color: #FFFFFF;
}
.subscribe-box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 32px auto;
}
.subscribe-box_input {
    flex-basis: calc(100% - 136px);
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 18px 0 0 18px;
    padding: 28px 20px 27px 20px;
}
.subscribe-box_input:focus {
    outline: none;
}
.subscribe-box_btn {
    flex-basis: 136px;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
    border-radius: 0 18px 18px 0;
    padding: 28px 20px 27px 20px;
    background-color: #CDA274;
    border: none;
    border-left: 1px solid transparent;
    cursor: pointer;
    transition: .2s;
}
.subscribe-box_btn:hover {
    color: #CDA274;
    background-color: #FFF;
    border-left: 1px solid #CDA274;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 20px;
    margin-top: 50px;
}
.pagination a {
    color: inherit;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #CDA274;
    border-radius: 100%;
    flex-basis: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}
.pagination a:hover {
    color: #FFF;
    background-color: #CDA274;
}
.pagination-next {
    background-image: url(../images/articles.arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.pagination span {
    background-color: #F4F0EC;
    border: 1px solid #F4F0EC;
    border-radius: 100%;
    flex-basis: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .title {
    text-align: center;
    max-width: 634px;
    margin: 0 auto;
}
.contact_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 57px 40px;
    max-width: 796px;
    margin: 76px auto 0;
}
.contact-form_input,
.contact-form_textarea {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding-bottom: 13px;
    transition: .2s;
}
.contact-form_input:focus, 
.contact-form_textarea:focus {
    outline: none;
    border-bottom: 1px solid #CDA274;
}
.contact-form_textarea,
.contact-form_btn,
.contact-from_checkbox {
    grid-column: 1 / 3;
}
.contact-form_textarea {
    height: 158px;
    resize: none;
}
.contact-form_btn {
    text-align: center;
    padding-top: 18px;
}
.post_form .contact-form_btn {
    text-align: left;
}
.contact_form .contact-form_btn {
    text-align: right;
}
/* Sidebar */
.content {
    display: grid;
    grid-template-columns: 1fr 345px;
    gap: 52px;
}
.widget {
    margin-top: 50px;
    margin-bottom: 50px;
}
.widget_title {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #292F36;
    margin: 0;
}
.widget-category {
    background-color: #F4F0EC;
    border-radius: 20px;
    padding: 27px 32px;
}
.search-area {
    position: relative;
}
.search-area_input {
    width: 100%;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    background-color: #F4F0EC;
    border: 1px solid #F4F0EC;
    border-radius: 20px;
    padding: 34px 65px 34px 34px;
    transition: .3s;
    box-sizing: border-box;
}
.search-area_input::placeholder {
    color: #CDA274;
}
.search-area_input:focus {
    outline: none;
    background-color: #FFF;
    border: 1px solid #CDA274;
}
.search-area_btn {
    position: absolute;
    right: 33px;
    top: calc(50% - 13.5px);
    display: block;
    width: 27px;
    height: 27px;
    background-color: transparent;
    background-image: url(../images/search-btn.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
}
.post-recent {
    margin-top: 33px;
}
.post-recent article + article {
    margin-top: 33px;
}
.post-recent_title {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    line-height: 1.25;
    font-weight:  400;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 200px;
}
.post-recent_title > a {
    color: inherit;
    text-decoration: none;
    transition: .3s;
}
.post-recent_title > a:hover {
    color: #CDA274;
}
.post-recent_date {
    font-size: 16px;
    text-align: right;
    margin-top: 5px;
    padding-bottom: 6px;
    border-bottom: 1px solid #CDA274;
}
.category-list {
    list-style-type: none;
    padding-left: 0;
}
.category-list > li {
    padding-top: 27px;
    padding-bottom: 27px;
    border-bottom: 1px solid #CDA274;
}
.category-list > li:last-child {
    padding-bottom: 0;
    border: none;
}
.category-list > li > a {
    color: inherit;
    text-decoration: none;
    transition: .3s;
}
.category-list > li > a:hover {
    color: #CDA274;
}
.tags-list {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px 10px;
    margin-top: 24px;
}
.tags-list > a {
    color: inherit;
    text-decoration: none;
    padding: 9px 30px;
    border-radius: 10px;
    background-color: #F4F0EC;
    transition: .3s;
}
.tags-list > a:hover {
    color: #FFF;
    background-color: #292F36;
}
.author {
    border-top: 1px solid #E5E5E5;
    padding-top: 50px;
    margin-top: 50px;
}
.author_head {
    display: flex;
    align-items: center;
    gap: 32px;
}
.author_thumb {
    flex-basis: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}
.author_img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.author_content {
    flex-grow: 1;
}
.author_name {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight:  400;
    margin-top: 0;
    margin-bottom: 0;
    color: #292F36;
}
.author_text {
    margin-top: 50px;
}
/* Post */
.main-article h1,
.main-article h2,
.main-article h3,
.main-article h4,
.main-article h5,
.main-article h6 {
    font-family: 'DM Serif Display', serif;
    color: #292F36;
    line-height: 1.2;
    font-weight: 400;
}
.main-article h1 {
    font-size: 50px;
}
.main-article h2 {
    font-size: 45px;
}
.main-article h3 {
    font-size: 40px;
}
.main-article h4 {
    font-size: 38px;
}
.main-article h5 {
    font-size: 35px;
}
.main-article h6 {
    font-size: 20px;
    margin-bottom: 48px;
}
.post a {
    color: #FFF;
    text-decoration: none;
}
.post ul,
.post ol {
    padding-left: 0;
    list-style-type: none;
    margin-top: 24px;
    margin-bottom: 24px;
}
.post ol {
    counter-reset: item;
}
.post ul > li,
.post ol > li {
    position: relative;
    padding-left: 20px;
}
.post ul > li::before {
content: '';
display: block;
width: 8px;
height: 8px;
border-radius: 100%;
background-color: #CDA274;
position: absolute;
top: 4px;
left: 0;
}
.post ol > li::before {
    content: '';
    content: counter(item);
    counter-increment: item;
    font-family: 'DM Serif Display', serif;
    color: #CDA274;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    position: absolute;
    top: 12px;
    left: 0;
}
.post ul > li + li,
.post ol > li + li {
    margin-top: 32px;
}
.post figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 365px;
    border-radius: 50px;
    margin: 44px 0;
}
.post figure img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.post blockquote {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-align: center;
    color: #CDA274;
    background-color: #F4F0EC;
    border-radius: 50px;
    padding: 50px 100px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}
.post blockquote::before {
    content: '';
    background-image: url(../images/blockquote.post.svg);
    background-size: cover;
    display: block;
    width: 72px;
    height: 54px;
    margin: 0 auto 30px;
}
.main-article_date {
    display: block;
    font-size: 16px;
    margin-top: 46px;
    margin-bottom: 48px;
}
.main-article_thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 540px;
    border-radius: 50px;
    margin: 44px 0;
}
.post_thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
/* POST FOOTER AND FORM */
.post_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 44px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin-top: 62px;
}
.post_tags {
    display: flex;
    align-items: center;
    gap: 20px;
}
.post_tags > span {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    line-height: 1.25;
}
.post_tags > a {
    font-size: 18px;
    color: #292F36;
    background-color: #F4F0EC;
    border-radius: 10px;
    padding: 13px 22px;
}
.post_tags > a:hover {
    color: #FFF;
    background-color: #292F36;
}
.post_social {
    display: flex;
    gap: 54px;
}
.post_social a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.post_comments {
    margin-top: 93px;
}
.post .comments-title {
    font-family: 'DM Serif Display', serif;
    color: #292F36;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 400;
}
.checkbox:checked,
.checkbox:not(:checked) {
    position: absolute;
    left: -9999PX;
}
.checkbox:checked+label,
.checkbox:not(:checked)+label {
    font-size: 18px;
    color: #CDA274;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}
.checkbox:checked+label::before {
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: calc(50% - 10px);
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #CDA274;
}
.checkbox:checked+label::after {
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 1;
   left: 4px;
   top: calc(50% - 6px);
   background-color: #CDA274;
}
.checkbox:not(:checked)+label::before {
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left: 0;
   top: calc(50% - 10px);
   background-color: transparent;
   border-radius: 3px;
   border: 2px solid #CDA274;
}
.checkbox:not(:checked)+label::after {
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 0;
    left: 4px;
    top: calc(50% - 6px);
    background-color: #CDA274;
}
/* Contacts */
.contact_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 55px;
    margin-top: 80px;
}
.contact_info {
    flex-basis: 350px;
    background-color: #F4F0EC;
    border-radius: 50px;
    padding: 76px 32px;
    box-sizing: border-box;
}
.contact_form {
    flex-grow: 1;
}
.contact_form .contact-form {
    margin-top: 0;
}
.contact-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 47px;
}
.contact-list_item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.contact-list_item:last-child {
    margin-bottom: 0;
}
.contact-list_item::before {
    content: '';
    display: block;
    width: 52px;
    height: 52px;
    background-size: cover;
}
.contact-list_email::before {
    background-image: url(../images/contact.icon01.svg);
}
.contact-list_tel::before {
    background-image: url(../images/contact.icon02.svg);
}
.contact-list_website::before {
    background-image: url(../images/contact.icon03.svg);
}
.contact-list_link {
    font-size: 20px;
    color: #4D5053;
    text-decoration: none;
    transition: .2s;
}
.contact-list_link:hover {
    color: #CDA274
}
.content {
    display: grid;
    grid-template-columns: 1fr 345px;
    gap: 52px;
}
/* 404 */
.error {
    position: relative;
    padding-top: 238px;
    padding-bottom: 309px;
}

.error_bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 47%;
    height: 100%;
}

.error_thumb {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 0 clamp(100px, 17vw, 353px);
}
.error_img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.error_title {
    font-family: 'DM Serif Display', serif;
    font-size: 250px;
    line-height: 1.25;
    font-weight: 400;
    color: #CDA274;
    margin-top: 0;
    margin-bottom: -38px;
}
.error_text {
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #292F36;
    margin-top: 0;
    margin-bottom: 40px;
    max-width: 485px;
}
.error_btn {
    padding: 24px 76px 24px 54px;
}
.error_btn::after {
    right: 52px;
}
/* Block BLOG */
.thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 356px;
}
.thumb_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}
.thumb_info {
    text-align: center;
    background-color: #FFF;
    border-radius: 37px 37px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 503px;
    margin: 0 auto;
    padding-top: 41px;
    padding-bottom: 41px;
}
.hero_title {
    margin-bottom: 0;
}
.breadcrumbs {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 28px;
}
.breadcrumbs > li > a {
    color: #4D5053;
    text-decoration: none;
}
.breadcrumbs > li {
    position: relative;
}
.breadcrumbs > li::after {
    content: '/';
    position: absolute;
    right: -20px;
}
.breadcrumbs > li:last-child::after {
    display: none;
}
/* Portfolio Tabs */
.tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #CDA274;
    border-radius: 18px;
    max-width: 880px;
    margin: 0 auto 60px;
    padding: 0 4.8vw;
    box-sizing: border-box;
}
.tab-link {
    font-size: 18px;
    font-weight: 600;
    padding: 26px 0;
    color: #292F36;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 18px;
}
.tab-link.active {
    color: #FFF;
    background-color: #CDA274;
}
.tab_content {
    display: none;
    animation: fading .5s;
}
@keyframes fading {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.tab-content_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.tab_content_thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 522px;
}
.tab_content_thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
/* Block Footer */
.bg {
    background-color: #F4F0EC;
}
.footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 80px;
   padding-bottom: 80px;
   color: #4D5053;
   font-size: 22px;
}
.footer_info {
    display: flex;
    align-items: center;
    gap: 90px;
}
.footer_info a {
   color: #4D5053;
   text-decoration: none;
}
/* Search Menu */
.overlay {
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    transition: .3s;
}
.modal-search {
    position: absolute;
    width: 1800px;
    background-color: #FFFFFF;
    padding-top: 47px;
    padding-bottom: 47px;
}
.modal-search_content {
    display: flex;
    align-items: center;
    gap: 38px;
    padding-right: 200px;
    padding-left: 200px;
}
.modal-search_input {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 13px 0;
    transition: .3s;
}
.modal-search_input:focus {
    outline: none;
    border-bottom-color: #CDA274;
}
.modal-search_btn {
    background-image: url(../images/search.page.svg);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    border-radius: 100%;
    border: 1px solid #CDA274;
    width: 52px;
    height: 52px;
}
.modal-search_close{
    background-image: url(../images/searchmanu.close.svg);
    background-repeat: no-repeat;
    display: block;
    width: 22px;
    height: 22px;
}
/* Media */
@media (max-width: 1200px) {
    body {
        font-size: 18px;
    }
    .container {
        max-width: 900px;
    }
    .title {
        font-size: 40px;
    }
    .swiper-feedback .title {
        max-width: 350px;
        margin: 0 auto;
    }
    .btn-primary {
        font-size: 16px;
    }
    .about {
        gap: 5%;
    }
    .about_text {
        flex-basis: 45%;
    }
    .about_thumb {
        flex-basis: 50%;
        border-radius: 0 clamp(100px, 20vw, 326px) 0px clamp(50px, 7vw, 123px);
    }
    .about-phone_icon {
        width: 74px;
        height: 74px;
    }
    .about-phone_text>p:first-child {
        font-weight: 700;
        font-size: 20px;
    }
    .swiper-feedback_slide {
        padding: 88px 150px 90px;
    }
    .swiper-feedback_text {
        font-size: 25px;
    }
    .swiper-feedback_author {
        font-size: 20px;
    }
    .swiper-feedback_next {
        right: 50px;
    }
    .swiper-feedback_prev {
        left: 50px;
    }
    .brands {
        justify-content: center;
        flex-wrap: wrap;
        gap: 13vw;
    }
    .articles {
        gap: 15px;
    }
    .articles_thumb {
        height: 250px;
    }
    .articles_title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .articles_date,
    .article-main_date,
    .articles_tag {
        font-size: 14px;
    }
    .articles_item,
    .article-main_item {
        border-radius: 45px;
        padding: 10px 10px 23px 10px;
    }
    .article-main_thumb {
        height: 400px;
    }
    .pagination {
        font-size: 14px;
    }
    .tab-content_box {
        gap: 3vw;
    }
    .tab-content_thumb {
        height: 40vw;
    }
    .contact_box {
        margin-top: 80px;
        flex-direction: column-reverse;
    }
    .contact_info,
    .contact_form {
        flex-basis: auto;
        width: 100%;
    }
    .contact-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .contact-list_item {
        margin-bottom: 0;
        justify-self: center;
    }
    .contact-list_item::before {
        width: 44px;
        height: 44px;
    }
    .contact-list_link {
        font-size: 16px;
    }
    .contact_box .post_social {
        justify-content: center;
    }
    .error {
        padding-top: 80px;
        padding-bottom: 150px;
    }
    .error_title {
        font-size: 200px;
    }
    .error_text {
        font-size: 30px;
        max-width: 450px;
    }
    .error_bg {
        width: 40vw;
    }
    .content {
        grid-template-columns: 1fr;
    }
    .comments .contact-form {
        max-width: 100%;
    }
    .footer_info {
        display: grid;
        grid-template-columns: 1fr 170px;
        grid-template-rows: repeat(2, auto);
        align-items: start;
        gap: 0px 50px;
    }
    .footer_address {
        grid-row: 1 / 3;
        margin: 0;
    }
    .footer_info a {
        text-align: right;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 600px;
    }
    .page {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .logo img {
        height: 36px;
    }
    .header_item {
        margin-left: 30px;
    }
    .header_link {
        font-size: 18px;
    }
    .hero {
        height: calc(100vh - 131px);
        margin-bottom: 120px;
    }
    .hero_title {
        font-size: 75px;
    }
    .hero_title,
    .hero_text {
        max-width: 570px;
    }
    .about {
        gap: 50px;
    }
    .about {
        flex-direction: column;
        gap: 75px;
    }
    .about_text,
    .about_thumb {
        flex-basis: auto;
    }
    .about_thumb {
        width: 100%;
        height: 50vw;
    }
    .swiper-feedback {
        margin-top: 120px;
    }
    .swiper-feedback_slide {
        padding: 50px;
    }
    .swiper-feedback_text {
        padding-left: 60px;
        padding-right: 60px;
    }
    .swiper-feedback_next {
        right: 30px;
    }
    .swiper-feedback_prev {
        left: 30px;
    }
    .stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .stats_item:nth-child(2):after {
        display: none;
    }
    .articles {
        gap: 25px;
    }
    .articles_item,
    .article-main_item {
        padding: 20px 20px 33px 20px
    }
    .contact-list_item {
        display: inherit;
        gap: 8px;
    }
    .contact-list_item::before {
        margin: 0 auto;
    }
    .contact_info {
        padding: 40px 20px;
    }
    .error {
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .error_title {
        font-size: 140px;
        margin-bottom: -8px;
    }
    .error_text {
        font-size: 21px;
        max-width: 300px;
    }
    .articles {
        grid-template-columns: 1fr;
    }
    .footer {
        align-items: start;
    }
    .footer_info {
        grid-template-columns: 1fr;
    }
    .footer_address {
        text-align: right;
    }
    .footer_info {
        gap: 16px;
    }
}
    @media(max-width: 600px) {
        .title {
            font-size: 30px;
        }
        .header {
            padding-top: 13px;
            padding-bottom: 13px;
        }
        .header_menu {
            display: block;
        }
        .header>nav {
            display: none;
        }
        .hero {
            height: calc(100vh - 96px);
            border-radius: 0 0 0 40vw;
        }
        .hero_title {
            font-size: 13vw;
        }
        .stat {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .swiper-feedback .title {
            max-width: 250px;
        }
        .swiper-feedback_slide {
            padding: 50px 10px;
        }
        .swiper-feedback_text {
            font-size: 20px;
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 50px;
        }
        .swiper-feedback_author {
            font-size: 14px;
        }
        .swiper-feedback_next,
        .swiper-feedback_prev {
            bottom: 40px;
            top: inherit;
            background-color: #f4f0ec;
        }
        .swiper-feedback_next {
            right: 20px;
        }
        .swiper-feedback_prev {
            left: 20px;
        }
        .contact-form {
            grid-template-columns: 1fr;
        }
        .contact-form_input,
        .contact-form_textarea {
            font-size: 18px;
        }
        .contact-form_textarea,
        .contact-form_btn,
        .contact-form_checkbox {
            grid-column: 1 / 2;
        }
        .contact-list {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        .contact-list_item {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            gap: 15px;
        }
        .contact-list_link {
            flex-grow: 1;
        }
        .contact_box .post_social {
            justify-content: start;
        }
        .checkbox:checked+label::before {
            top: 4px;
        }
        .checkbox:checked+label::after {
            top: 8px;
        }
        .checkbox:not(:checked)+label::before {
            top: 4px;
        }
        .checkbox:not(:checked)+label::after {
            top: 8px;
        }
        .search-area_input {
            font-size: 18px;
            padding: 20px 65px 20px 20px;
        }
        .search-area_btn {
            top: calc(50% - 10px);
            width: 20px;
            height: 20px;
            background-size: cover;
        }
        .category-list>li {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .tags-list {
            font-size: 16px;
            gap: 10px;
        }
        .author_name {
            font-size: 22px;
        }
        .author_text {
            margin-top: 30px;
        }
        .tabs {
            padding: 0 2vw;
            grid-template-columns: repeat(2, 1fr);
        }
        .tab-link {
            padding: 20px 0;
        }
        .thumb_info {
            margin-left: 10px;
            margin-right: 10px;
            padding: 30px 10px;
            box-sizing: border-box;
        }
        .article-main_item {
            grid-template-columns: 1fr;
        }
        .article-main_thumb {
            height: 60vw;
        }
        .articles_item,
        .article-main_thumb {
            border-radius: clamp(20px, 8vw, 50px);
        }
        .articles_thumb {
            border-radius: clamp(20px, 8vw, 50px) clamp(20px, 8vw, 50px) 0 0;
        }
        .article-main_content {
            padding: 0;
        }
        .pagination {
            gap: 10px;
        }
        .main-article_thumb {
            height: 50vw;
        }
        .main-article h1 {
            font-size: 40px;
        }
        .main-article h2 {
            font-size: 35px;
        }
        .main-article h3 {
            font-size: 30px;
        }
        .main-article h4 {
            font-size: 28px;
        }
        .main-article h5 {
            font-size: 25px;
        }
        .main-article h6 {
            font-size: 20px;
        }
        .post_footer {
            flex-direction: column;
            gap: 40px;
        }
        .post_tags>a {
            font-size: 16px;
            padding: 10px 15px;
        }
        .post_social {
            gap: 30px;
        }
}
    @media(max-width: 500px) {
        .stats {
            grid-template-columns: 1fr;
        }
        .stats_item {
            border-bottom: 1px solid #CDA274;
        }
        .stats_item:last-child {
            border-bottom: none;
        }
        .stats_item::after {
            display: none;
        }
        .subscribe {
            padding: 50px 20px;
        }
        .subscribe-box {
            flex-direction: column;
            gap: 20px;
        }
        .subscribe-box_input {
            flex-basis: auto;
            width: 100%;
            box-sizing: border-box;
            border-radius: 18px;
        }
        .subscribe-box_btn {
            flex-basis: auto;
            width: 100%;
            max-width: 200px;
            border-radius: 18px;
        }
        .footer {
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .footer_address,
        .footer_info a {
            text-align: center;
        }
        .page {
            padding-top: 80px;
            padding-bottom: 80px;
        }
}
    @media(max-width: 375px) {
        .swiper-feedback_text {
            padding-left: 20px;
            padding-right: 20px;
        }
        .brands {
            flex-direction: column;
            gap: 30px;
        }
        .tab-link {
            font-size: 14px;
        }
}
